<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
<select id="getBoards" resultType="board"> <!-- sql-map-config-spring에서 지정한 user -->
	SELECT * FROM BOARD ORDER BY SEQ
</select>

<select id="getBoard" resultType="board" parameterType="board"> <!-- resulttype = 반환  parametertype= 파라미터 값 받음-->
	SELECT * FROM BOARD WHERE SEQ = #{seq}
</select>


<!-- board.seq == seq -->
<!-- out_msg는 카멜케이스 적용 대상이 아님 -->
<insert id="insertBoardProc" statementType="CALLABLE" parameterType="board"> 
{ 
	call BOARD_INS_PROC
	(
		#{title},
		#{writer},
		#{content, mode=IN, jdbcType=VARCHAR, javaType=string},
		#{seq, mode=OUT, jdbcType=NUMERIC, javaType=string},
		#{out_msg, mode=OUT, jdbcType=VARCHAR, javaType=string}
	)
	
}
</insert>
</mapper> 